.pole {
  border: 3px solid black;
  height: 30px;
  width: 30px;
  display: inline-block;
}

.had {
  background: rgb(52, 7, 112);
}

body {
  overflow: hidden;
}

.jablko {background: rgb(182, 27, 27)}